{% extends "base.html" %}
{% block title %}Word Tree{% endblock %}
{% block body %}
    <center style="margin-bottom: -1.75em;">
        <span class="text-muted">You can scroll or pinch in and out to zoom; try clicking on the circles.</span>
    </center>
    <style>
        #link:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        #share:hover {
            cursor: pointer;
        }
    </style>
    {% if clear %}<a href="/clear-source" style="color: gray; margin-left: 2.5%; padding-right: 2.5%;">Clear source</a>{% else %}<span style="margin-right: 5%;"></span>{% endif %}
    {% if shareable %}<span id="share" onclick="copyLink();" style="background-color: Transparent; overflow: hidden; outline: none; color: gray; font-family: optima; margin-left: 76%; background-color: #e6e6e6; font-size: large;">Share</span>{% endif %}
    <span id="link" style="color: gray; margin-left: {% if not shareable %}{% if clear %}79.75{% else %}85.75{% endif %}{% else %}2{% endif %}%;">Download</span>
    <span id="tree-container"></span>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script>
        let html = $("*");
        let tree = $("#tree-container");
        // let contents = tree.html;
        // console.log(contents);
        let contents = $(tree).html();
        console.log(html);
        console.log(typeof(html));
        // console.log(contents);
        // console.log(typeof(contents));
        let button = document.getElementById("link");
        button.onclick = function() {
            let file = new Blob([tree], {type: "text/html"});
            let a = document.createElement("a");
            a.download = "tree.html";
            a.href = window.URL.createObjectURL(file);
            a.click();
        }
    </script>
    <style type="text/css">
        .node {
            cursor: pointer;
        }
        .overlay{
            background-color:#e6e6e6;
        }
        
        .node circle {
            fill: #fff;
            stroke: rgb(75, 85, 194);
            stroke-width: 1.5px;
        }
    
        .node text {
            font-size:10px; 
            font-family:sans-serif;
        }
        
        .link {
            fill: none;
            stroke: rgb(175, 175, 175);
            stroke-width: 1.5px;
        }
        
        .additionalParentLink {
            fill: none;
            stroke: blue;
            stroke-width: 1.5px;
        }
    
        .templink {
            fill: none;
            stroke: red;
            stroke-width: 3px;
        }
    
        .ghostCircle.show{
            display:block;
        }
    
        .ghostCircle, .activeDrag .ghostCircle{
            display: none;
        }
    
    </style>
    <script>
        function copyLink() {
            let shareButton = document.getElementById("share");
            $.get("/link", function(link) {
                var copy = document.createElement("textarea");
                document.body.appendChild(copy);
                copy.value = link;
                copy.select();
                document.execCommand("copy");
                document.body.removeChild(copy);
            });
            shareButton.innerText = "The link was copied to clipboard";
            shareButton.style.marginLeft = {% if clear %}"61.25%"{% else %}"67.25%"{% endif %};
        }
    </script>
    <script src="script.js">
    
    </script>
{% endblock %}
